.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#1B2030 url(https://images.unsplash.com/photo-1571993142257-eae0b44cf0f1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ) 50% 0 no-repeat;
    color: white;

    &__title {
        margin: 0;
        font-size: 80px;
    }

    &__icon {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__icon-description {
        font-style: italic;
    }
}
