@import '../../variables.scss';

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    &__title {
        margin: 0;
        font-family: 'Kanit';
        font-size: 80px;
        font-weight: 700;
    }

    &__subtitle {
        font-size: 25px;
        font-weight: 300;
    }

    &__icon {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__icon-description {
        padding-top: 10px;
        font-size: 15px;
        font-style: italic;
    }

    &__planet {
        position: absolute;
        bottom: 40px;
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 50%;
        transition: all 3s ease;
        animation: shadowAnimation 4s infinite ease-in-out;
        cursor: pointer;

        &--stage-1 {
            transform: translate(40vw);
        }

        &--stage-2 {
            transform: translate(-40vw);
        }
    }
}
