@import './animation.scss';


/* ==================================================== LAYOUTS ==================================================== */
$main-wrapper: 1920px;

/* ===================================================== COLORS ==================================================== */

//white
$white-color: #fff;

//black
$black-color: #000000;